/*<group=File Sharing>*/

.filesharing-item {
	border: 1px solid #cccccc;
	margin-bottom: 15px;
	padding: 8px;
}

.filesharing-item:hover {
	border: 1px solid #cccccc;
	margin-bottom: 15px;
	padding: 8px;
	background: #e6e6e6;
}

.filesharing-description {
	margin-bottom: 21px;
	margin-left: 10px;
}

.filesharing-item-title {
	font-size: 14px;
	padding-bottom: 2px;
}

.filesharing-item-description {
	margin-bottom: 0;
}

/*</group>*/