/*<group=Blog>*/

.blog-entry {
	letter-spacing: -.5px;
	text-align: left;
	font-size: 10px;
	line-height: 14px;
	background: no-repeat url(images/bloghed.png);
	border: 1px solid #cccccc;
	margin-bottom: 30px;
	padding: 14px 14px 16px;
}

.blog-entry-title {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 5px;
	letter-spacing: -1.5px;
	color: #999999;
	background: #e9ebea;
	padding-bottom: 12px;
	padding-left: 12px;
	padding: 12px;
}

.blog-entry-date {
	margin-bottom: 13px;
	color: #b3b3b3;
	font-size: 10px;
	margin-top: 6px;
}

.blog-entry-body {
	font-size: 10px;
	line-height: 14px;
}

.blog-entry-comments {
	text-align: right;
	font-size: 9px;
	color: #999999;
	padding-top: 1px;
}
	
/*</group>*/