/*<group=Blog>*/

.blog-entry {
	letter-spacing: -.5px;
	text-align: left;
	font-size: 10px;
	line-height: 14px;
	background: #e6e6e6;
	padding: 16px 8px 16px 16px;
	margin-bottom: 30px;
}

.blog-entry-title {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 5px;
	letter-spacing: -1.5px;
	padding-top: 5px;
	color: #999999;
}

.blog-entry-date {
	margin-bottom: 13px;
	color: #b3b3b3;
	font-size: 10px;
	margin-top: 6px;
}

.blog-entry-body {
	font-size: 10px;
	line-height: 14px;
	padding-right: 12px;
}

.blog-entry-comments {
	text-align: right;
	font-size: 9px;
	color: #999999;
	padding-top: 1px;
}
	
/*</group>*/