#contentContainer {
	width: 500px;
	margin-right: 240px;
	margin-left: 70px;
}

#contentContainer #content {
	padding: 0;
	width: 500px;
	margin: 0;
}

#sidebarContainer {
	width: 194px;
	float: right;
	margin-bottom: 0;
	margin-right: 0;
	padding-right: 0;
}

#sidebarContainer #sidebar {
	margin-bottom: 0;
	padding-left: 10px;
	font-size: 10px;
	padding-right: 20px;
	width: 150px;
}

#sidebarwrapper {
	width: 192px;
	background: url(../../images/sidebartab/sidemiddleright.png) repeat-y;
}

#sidebartop {
	background: no-repeat url(../../images/sidebartab/sidetopright.png);
	height: 36px;
	width: 192px;
}

#sidebarbottom {
	background: no-repeat url(../../images/sidebartab/sidebottomright.png);
	height: 36px;
	width: 192px;
}

#navcontainer {
	padding-left: 0;
	margin-bottom: 24px;
	padding-right: 18px;
}